
  .wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
  }
  
  .container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
  }
  
  .movies {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 70px;
    width: 80%;
  }
  
  .boards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 70px;
    width: 85%;
  }

  .rank{
    padding: 10px;
  }
  
  .boxofficeRankNm{
    display: flex;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 0;
  }


.boxofficeRank {
    float: left;
    padding: 10px;
    text-decoration: none;
    color:black;
  }

.movieImg{
    border-radius: 5px;
    position: relative;
    width: 210px;
    height: 300px;
}

.movieRank{
  background-color: rgba(49, 49, 49, 0.906);
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  line-height: 23px;
  position: absolute;
  z-index: 2;
  margin: 5px;
}
 .movieNm{
  margin:2px;
  width: 210px;
 }
.movieInfo{
  margin:3px;
  width: 210px;
  font-size: 14px;
}