.cardList {
  display: flex;
  border-bottom: solid #d1d1d2;

  .cardForm {
    padding: 2rem;
    margin: 0 auto;
  
    &-figure {
      max-width: 213px;
      max-height: 500px;
  
      &-image {
        cursor: pointer;
        width: 213px;
        height: 305px;
      }
      &-title {
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 200px;
      }
      &-detail {
        font-size: 14px;
        color: black;
      }
    }
  }
}