@mixin commentSubmitStle($color){
    background-color: $color;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: auto 46% auto auto;
    text-align: center;
    cursor: pointer;
}

.commentsWrapper {
    margin: 5%;
    margin-left: 10%;
    line-height: 150%;
    
    .newComment{
        display: flex;
        flex-direction: column;
        width: 100%;
        .commentsMovieName{
            text-align: center;
        }
        .commentInput{
            border: 1px solid rgb(189, 189, 189);
            width: 85vh;
            height: 50vh;
            border-radius: 5px;
            margin: 10px auto;

        }

        .commentSubmit{
            @include commentSubmitStle(rgb(212, 44, 108));
        }
        .commentNoSubmit{
            @include commentSubmitStle(rgb(223, 105, 150));
        }
    }
    .commentUserImg {
        background-color: black;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-right: 10px;
        display: inline-block;
    }

    .commentUserName {
        color: rgb(44, 44, 44);
        display: inline-block;
    }

    .commentsMovieInfo{
        margin-top: 10px;
        color: rgb(124, 124, 124);
        font-size: 12px;
        .commentsMovieName{
            color: black;
            font-weight: 600;
            font-size: 17px;
        }

    }
    .commentStar{
        margin-bottom: 10px;
        font-size: 15px;
    }


}