.detailWrapper{
    width: 100%;
    height: 100%;
}

.movieDetail{
    display: inline-block;
    margin: 0;
    flex-flow: row-reverse wrap;
    background-color: rgb(247, 247, 247);
    width: 100%;
    position: relative;
}

.movieDImg{
    width: 250px;
    height: 360px;
    border-radius: 5px;
    margin: 30px auto 20px auto;
}

.movieDTitle{
    font-size: 30px;
    width: auto;
}

.movieDTopContainer{
    align-items: stretch;
    justify-content:flex-start;
    margin: 0;
    border-bottom: solid rgb(212, 212, 212) 1px;
    background-color: white;
}

.movieDInfoTop{
    margin: 0 8% 20px 8%;
}

.movieDInfoRight{
    display: inline-block;
    margin: 20px auto 0px 30px;
    position: absolute;
    width: 60%;
}

.movieDInfoRightYGN{
    display: inline-block;
    font-size: 15px;
    color: rgb(112, 112, 112);
}

.rating{ 
   position: relative;
   float: left; 
}

.ratingStar{ 
    display: inline-block;
    text-align: center;
 }

 .ratingStar>p{
    font-size: 15px;
    color: rgb(112, 112, 112);
    margin-bottom: 0;
 }

hr{
    background-color:rgb(235, 235, 235);
    height:1px;
    border:0;
    width: 90%;
}

.partition{
    display: inline-block;
    width:1px;
    background-color:rgb(235, 235, 235);
    position:absolute;
    bottom:0;
    height: 80px;
    margin:0 15px;
}

.ratingOptionContainer{
    display: inline-flex;
    position: relative;
    margin-left: 40px;
    line-height: 100%;
}


.ratingComment{
    display: inline-block;
    height:30px;
}

.commentImgContainer{
    width: 30px;
    height: 30px;
    transition:all 0.3s ease-in-out;
    float: left;
}

.commentImg{
    width: 23px;
    height: 23px;
}

.ratingComment:hover > .commentImgContainer{
    transform:scale(1.15);
}

.ratingComment p{
    display: inline-block;
    margin: 0 0 0 8px;
    width: 80px;
    height: 30px;
    font-size: 15px;
}

.movieDInfoBottom{
    width: 100%;
    height: 100%;
    margin: 0 8% 0 8%;
}

.movieDBasicInfo{
    display: inline-block;
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 5px;
    padding: 0 20px;
    width: 700px;
    margin: 40px 0;
}

.movieDBasicInfo h3{
    font-size: 20px;
}

.movieDBasicInfo p{
    font-size: 15px;
    color:rgb(71, 71, 71);
    margin: 5px 3px;
}

.movieDplotText{
    letter-spacing: 1px;
    line-height: 25px;
}

.openPlot{
    max-height: 100%;
    line-height: 30px;
}

.closePlot{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}