.select {
  position: absolute;
  
  &-box {
    width: 120px;
    height: 30px;
    padding-left: 7px;
    border-radius: 4px;
    outline: 0 none;
    background-image: url("../public/images/select_arrow.png");
    &-options {
      padding: 3px 0;
    }
  }
}